[submodule "poke-env"]
	path = poke-env
	url = https://github.com/jakegrigsby/poke-env
[submodule "pokemon-showdown"]
	path = pokemon-showdown
	url = git@github.com:smogon/pokemon-showdown.git
[submodule "server/pokemon-showdown"]
	path = server/pokemon-showdown
	url = git@github.com:smogon/pokemon-showdown.git
